@import 'global.css';
@import 'variables.css';
@import 'body.css';



.relative {
    position: relative;

}

.input {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    gap: 50px;



    input {
        height: 40px;
        border-radius: 8px;
        outline: none;

    }

    button {
        cursor: pointer;
        outline: none;
        border-radius: 8px;

        background-color: var(--text-green);

        &:hover {
            background-color: white;
            color: black;
        }
    }

}

#usersList {
    background-color: aqua;
    width: 950px;
    height: 750px;
    background-color: var(--background-cart);
    color: var(--text-green);
    border-radius: var(--border-radius-16);
    text-align: center;
}


#usersList {
    height: 400px;
    border-radius: 8px;
    position: absolute;
    transform: translateY(-1000px);
}

.footer {
    background-color: var(--text-green);
    height: 40px;

    .last_footer_div {
        display: flex;
        justify-content: center;
        align-content: center;
        color: --footer-background;
        font-size: 20px;
        padding-top: 9px;


        P {
            text-align: center;
            align-items: center;
        }

    }

}